.nav{
    display: flex;
    height: 60px;
    background-color: aquamarine;
    
    align-items: center;
    
}

.cat{
    width: 10%;
    height: 35px;
    margin-left: 6%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding-left: 10px;
}

.search{
    width: 40%;
    height: 35px;
    margin: 0 7%;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.login{
    width: 70px;
    font-size: 16px;
    background-color: blueviolet;
    height: 35px;
    margin-right: 6%;
    color: white;
}

.signup{

    width: 80px;
    font-size: 16px;
    background-color: blueviolet;
    height: 35px;
    margin-right: 6%;
    color: white;
}